.about-us {
  margin-bottom: 58px;

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}

.about-us__container {
  @media (min-width: $desktop-width) {
    width: 700px;
  }
}

.about-us__title {
  margin: 0;
  margin-bottom: 28px;

  font-size: 25px;
  font-weight: bold;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 42px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;

    font-size: 53px;
    line-height: 57px;
  }
}

.about-us__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    max-height: 471px;
  }
}

.about-us__item {
  position: relative;

  font-size: 17px;
  font-weight: bold;
  line-height: 20px;

  &::before {
    position: absolute;
    top: 0;

    content: "";

    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  &--materials {
    padding-top: 55px;
    margin-bottom: 29px;

    &::before {
      left: 8px;

      width: 32px;
      height: 37px;

      background-image: url("../img/icon-feature-flower.svg");
    }
  }

  &--price {
    padding-top: 54px;
    margin-bottom: 35px;

    &::before {
      left: 0;
      width: 47px;
      height: 27px;

      background-image: url("../img/icon-feature-money.svg");
    }
  }

  &--likes {
    padding-top: 48px;
    margin-bottom: 32px;

    &::before {
      left: 7px;

      width: 34px;
      height: 27px;

      background-image: url("../img/icon-feature-heart.svg");
    }
  }

  &--with-love {
    padding-top: 51px;
    margin-bottom: 33px;

    &::before {
      left: 3px;

      width: 35px;
      height: 34px;

      background-image: url("../img/icon-feature-ball.svg");
    }
  }

  &--support {
    padding-top: 49px;
    margin-bottom: 32px;

    &::before {
      left: -6px;

      width: 55px;
      height: 23px;

      background-image: url("../img/icon-feature-rocket.svg");
    }
  }

  &--delivery {
    padding-top: 52px;

    &::before {
      left: 3px;

      width: 33px;
      height: 32px;

      background-image: url("../img/icon-feature-gift.svg");
    }
  }

  @media (min-width: $tablet-width) {
    width: 334px;
    min-height: 157px;
    margin: 0;

    font-size: 20px;
    line-height: 22px;

    &--materials {
      padding-top: 57px;
    }

    &--likes {
      padding-top: 52px;

      &::before {
        top: 3px;
        left: 8px;
      }
    }

    &--with-love {
      padding-top: 57px;

      &::before {
        top: 4px;
      }
    }

    &--support {
      padding-top: 55px;

      &::before {
        top: 3px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: 350px;
  }
}
