.about-us {
  margin-bottom: 58px;
}

.about-us__container {
  width: 320px;
  padding-right: 30px;
  padding-left: 30px;
}

.about-us__title {
  margin: 0;
  margin-bottom: 28px;

  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
}

.about-us__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-us__item {
  padding-top: 50px;

  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
}
