.arguments {
  margin: 0;
  margin-bottom: 28px;
}

.arguments__item {
  display: flex;

  border-bottom: 1px solid $shadow;
}

.arguments__term {
  width: 100px;
  margin-right: 1px;
  padding-top: 10px;
  padding-bottom: 10px;

  line-height: 20px;
  word-wrap: break-word;
}

.arguments__description {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;

  line-height: 20px;
  word-wrap: break-word;
}
