.arguments {
  @media (min-width: $tablet-width) {
    padding-right: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -17px;
    padding-right: 58px;
  }
}

.arguments__item {
  display: flex;

  color: $graphite;
  border-bottom: 1px solid $shadow;
}

.arguments__term {
  width: 100px;
  margin-right: 1px;
  padding-top: 10px;
  padding-bottom: 10px;

  line-height: 20px;
  word-wrap: break-word;

  @media (min-width: $tablet-width) {
    padding-top: 9px;
    width: 96px;
  }
}

.arguments__description {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;

  line-height: 20px;
  word-wrap: break-word;

  @media (min-width: $tablet-width) {
    padding-top: 9px;
  }
}
