.categories__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.categories__item {
  display: flex;

  @media (min-width: $tablet-width) {
    max-width: 334px;
  }

  @media (min-width: $desktop-width) {
    max-width: 525px;
  }
}

.categories__link {
  display: inline-flex;
  position: relative;

  padding-top: 25px;
  padding-right: 160px;
  padding-bottom: 30px;
  padding-left: 30px;

  font-size: 19px;
  font-weight: bold;

  color: $white;
  text-decoration: none;

  &:focus {
    box-shadow: none;
  }

  &--interior {
    background-color: $mint;

    &:hover,
    &:focus {
      background-color: $mint-special;
    }
  }

  &--toys {
    background-color: $dark-mint;

    &:hover,
    &:focus {
      background-color: $dark-mint-special;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    padding-right: 167px;
    padding-left: 36px;
    padding-bottom: 34px;

    font-size: 20px;
    line-height: 30px;

    &:hover,
    &:focus {
      margin-top: -5px;
      padding-bottom: 39px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 350px;
    padding-left: 37px;
  }
}

.categories__icon {
  position: absolute;

  opacity: 0.5;

  &--interior {
    top: 23px;
    right: 36px;
  }

  &--toy {
    top: 21px;
    right: 27px;
  }

  @media (min-width: $tablet-width) {
    &--interior {
      top: 30px;

      width: 41px;
    }

    &--toy {
      top: 31px;
      right: 33px;

      width: 61px;
      height: 61px;
    }
  }
}

.categories__link:hover .categories__icon,
.categories__link:focus .categories__icon {
  opacity: 0.7;
}

.categories__link:active .categories__icon {
  opacity: 0.3;
}

.categories__name {
  margin: 0;
}
