.contacts {
  position: relative;

  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    position: relative;

    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.contacts__title {
  margin: 0;
  margin-bottom: 27px;

  font-size: 18px;
  font-weight: bold;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;
    padding-top: 2px;

    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__icon {
  display: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -24px;
    right: 3px;

    display: block;
  }

  @media (min-width: $desktop-width) {
    top: 64px;
    left: 63px;
  }
}

.contacts__list {
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;

    font-size: 17px;
  }
}

.contacts__item {
  display: flex;

  &:first-child {
    margin-bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  @media (min-width: $desktop-width) {
    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
}

.contacts__term {
  width: 76px;
  margin-right: 1px;

  line-height: 30px;
  color: $graphite;
}

.contacts__description {
  margin: 0;

  line-height: 30px;
  color: $graphite;

  &--email a {
    padding-bottom: 3px;
    border-bottom: 1px solid $mint;
  }

  @media (min-width: $desktop-width) {
    &--email a {
      padding-bottom: 8px;
    }
  }
}

.contacts__email {
  color: $graphite;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $dark-mint-special;
  }

  &:active {
    color: $dark-mint-special;
    border-bottom: 1px solid rgba($mint, 0.1);
  }
}

.contacts__address {
  width: 150px;

  font-style: normal;

  @media (min-width: $tablet-width) {
    width: 225px;
  }
}
