.copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 17px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 10px;
  }
}

.copyright__text {
  margin-right: 27px;

  font-size: 19px;
  line-height: 18px;
}

.copyright__link {
  display: inline-flex;

  &:hover .copyright__icon,
  &:focus .copyright__icon {
    fill: $dark-mint-special;
  }

  &:active .copyright__icon {
    opacity: 0.3;
  }
}

.copyright__icon {
  fill: $mint;
}
