.fieldset {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  border: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;

    &--phone {
      margin-bottom: 0;
      padding-top: 50px;
      padding-bottom: 24px;
    }

    &--email {
      padding-bottom: 50px;
    }
  }
}

.fieldset__container {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.fieldset__legend {
  position: relative;

  margin: 0;

  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $mint;

  &--type,
  &--color,
  &--name {
    margin-bottom: 25px;
  }

  &--tel,
  &--email {
    margin-bottom: 5px;
  }

  &--extra {
    margin-bottom: 22px;
  }

  &::before {
    position: absolute;
    top: 6px;
    right: 0;

    content: "";

    width: 198px;
    height: 1px;

    background-color: $mint;
  }

  @media (min-width: $tablet-width) {
    width: 150px;
    margin-right: 15px;
    margin-bottom: 0;

    &--type {
      padding-top: 20px;
    }

    &--color {
      padding-top: 66px;
    }

    &--name {
      padding-top: 17px;
    }

    &--tel {
      padding-top: 15px;
    }

    &--email {
      padding-top: 17px;
    }

    &--extra {
      padding-top: 19px;
    }

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 160px;

    &--type {
      padding-top: 21px;
    }
  }
}

.fieldset__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.fieldset__textarea {
  width: 100%;
  min-height: 142px;
  padding-top: 17px;
  padding-right: 18px;
  padding-left: 18px;

  font-size: 17px;
  line-height: 18px;

  resize: none;
  border: 2px solid $graphite;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  @media (min-width: $tablet-width) {
    width: 503px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
  }
}
