.main-nav {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 320px;
  min-height: 79px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    flex-direction: row;

    width: 668px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.main-nav a[href]:hover,
.main-nav a[href]:focus {
  color: rgba($black, 0.6);
}

.main-nav a[href]:active {
  color: rgba($black, 0.3);
}

.main-nav__logo {
  padding: 22px 0;
  align-self: center;

  & picture {
    display: inline-flex;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--index:hover,
  &--index:focus {
    opacity: 1;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: -24px;
  }
}

.main-nav__menu-button {
  position: absolute;
  top: 32px;
  right: 30px;

  width: 20px;
  height: 14px;
  padding: 0;

  background-color: transparent;
  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;

  border: none;
  cursor: pointer;
  outline: none;

  &--close {
    top: 29px;

    width: 21px;
    height: 20px;

    background-image: url("../img/icon-menu-close.svg");
  }

  &--no-js {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__main-menu {
  display: none;
  margin: 0;

  &--no-js,
  &--opened {
    display: block;
  }

  @media (min-width: $tablet-width) {
    order: 1;
  }

  @media (min-width: $desktop-width) {
    order: -1;
  }
}

.main-nav__user-menu {
  display: none;
  margin: 0;

  &--no-js,
  &--opened {
    display: block;
  }
}

.main-nav__additional-menu {
  display: none;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.main-nav__delivery {
  display: none;

  margin: 0;
  color: $graphite;

  @media (min-width: $tablet-width) {
    display: block;

    padding-top: 20px;

    order: 2;
  }
}
