.order__container {
  @media (min-width: $tablet-width) {
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
  }
}

.order__fieldset {
  &:last-of-type {
    margin-bottom: 10px;
  }

  @media (min-width: $tablet-width) {
    &:last-of-type {
      margin-bottom: 53px;
    }

    &--background {
      background-color: $light-grey;
    }

    &--phone {
      margin-bottom: 0;
    }
  }
}

.order__note {
  display: block;

  margin-bottom: 30px;

  font-size: 14px;
  line-height: 16px;
  color: $graphite;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 12px;
    right: 0;

    margin-bottom: 0;

    font-size: 17px;
    line-height: 30px;
  }
}

.order__button {
  width: 100%;
  margin-bottom: 16px;

  background-color: transparent;
  cursor: pointer;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #63d1bb;
  }

  @media (min-width: $tablet-width) {
    width: 230px;
    margin-bottom: 0;
  }
}
