.order__container {
  @media (min-width: $tablet-width) {
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
  }
}

.order__fieldset {
  margin: 0;
  padding: 0;

  &:last-of-type {
    margin-bottom: 10px;
  }

  &--type {
    margin-bottom: 30px;
  }

  &--color {
    margin-bottom: 34px;
  }

  &--name {
    margin-bottom: 34px;
  }

  &--phone,
  &--email {
    margin-bottom: 35px;
  }

  @media (min-width: $tablet-width) {
    &:last-of-type {
      margin-bottom: 53px;
    }

    &--type,
    &--color,
    &--name,
    &--email {
      margin-bottom: 50px;
    }

    &--phone {
      margin-bottom: 0;
      padding-top: 50px;
    }

    &--email {
      padding-top: 25px;
      padding-bottom: 48px;
    }

    &--color,
    &--phone,
    &--email {
      background-color: $light-grey;
    }
  }

  @media (min-width: $desktop-width) {
    &--type {
      margin-bottom: 46px;
    }
  }
}

.order__note {
  display: block;

  margin-bottom: 30px;

  font-size: 14px;
  line-height: 16px;
  color: $graphite;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 12px;
    right: 0;

    margin-bottom: 0;

    font-size: 17px;
    line-height: 30px;
  }
}

.order__button {
  width: 100%;
  margin-bottom: 16px;
  padding-top: 16px;
  padding-bottom: 12px;

  background-color: transparent;
  cursor: pointer;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #63d1bb;
  }

  @media (min-width: $tablet-width) {
    width: 230px;
    margin-bottom: 0;
  }
}
