.page-main {
  width: 100%;

  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;

    &--form {
      margin-bottom: 50px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 105px;

    &--form {
      margin-bottom: 45px;
    }
  }
}

.page-main__container {
  @media (min-width: $desktop-width) {
    width: 700px;
  }
}

.page-main__intro {
  position: relative;

  margin-bottom: 31px;
  background-color: $light-grey-index;

  &--form {
    background-color: $light-grey;
    margin-bottom: 17px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;

    &--catalog {
      margin-bottom: 78px;
    }

    &--form {
      margin-bottom: 65px;
    }

    &::after {
      position: absolute;
      bottom: -12px;
      left: 0;

      content: "";
      width: 100%;
      height: 24px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: contain;
      background-repeat: repeat-x;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;

    &::after {
      bottom: -17px;
      height: 34px;
    }

    &--catalog {
      margin-bottom: 109px;

      &::after {
        bottom: 0;
      }
    }

    &--form {
      margin-bottom: 99px;

      &::after {
        bottom: 0;
      }
    }
  }
}

.page-main__description {
  margin: 0;
  margin-bottom: 30px;

  font-size: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;

    font-size: 17px;
    line-height: 30px;
  }
}
