.page-main {
  width: 320px;
  margin-bottom: 39px;
}

.page-main__container {
  width: 320px;
  padding-right: 30px;
  padding-left: 30px;
}

.page-main__description {
  margin: 0;
  margin-bottom: 30px;

  font-size: 13px;
}
