.page-main {
  width: 100%;

  margin-bottom: 39px;
}

.page-main__intro {
  position: relative;

  margin-bottom: 30px;
  background-color: $light-grey-index;

  &--form {
    background-color: $light-grey;
    margin-bottom: 17px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;

    &--catalog {
      margin-bottom: 67px;
    }

    &--form {
      margin-bottom: 54px;
    }

    &::after {
      position: absolute;
      bottom: -15px;
      left: 0;

      content: "";
      width: 100%;
      height: 24px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: contain;
      background-repeat: repeat-x;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      height: 34px;
    }
  }
}

.page-main__description {
  margin: 0;
  margin-bottom: 30px;

  font-size: 13px;
}
