.page-footer {
  width: 100%;

  background-color: $light-grey;
}

.page-footer__container {
  margin: 0 auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 668px;
    min-height: 143px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.page-footer__logo {
  display: none;

  margin-right: auto;

  &--inner:hover,
  &--inner:focus {
    fill: $mint;
  }

  &--inner:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }
}
