.phone-list__item {
  display: flex;
  flex-direction: column;

  box-shadow: inset 0 -2px 0 $black;
}

.phone-list__input {
  padding-top: 14px;
  padding-right: 32px;
  padding-bottom: 16px;

  font-size: 19px;
  line-height: 18px;

  border: none;
  opacity: 0.3;
}
