.production {
  margin-bottom: 19px;
}

.production__title {
  position: relative;

  margin: 0;
  padding-top: 21px;
  padding-bottom: 26px;
  padding-left: 91px;

  font-size: 17px;

  border: 1px solid $shadow;

  &::before {
    position: absolute;
    top: 35px;
    left: 34px;

    content: "";
    width: 32px;
    height: 22px;

    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.production__video {
  width: 260px;
  height: 150px;

  @media (min-width: $tablet-width) {
    width: 668px;
    height: 455px;
  }

  @media (min-width: $desktop-width) {
    width: 682px;
    height: 455px;
  }
}

.production__footer {
  margin-top: -7px;
  padding-top: 35px;
  padding-right: 31px;
  padding-bottom: 33px;
  padding-left: 34px;

  border: 1px solid $shadow;
}

.production__description {
  margin: 0;
  margin-bottom: 41px;

  font-size: 13px;
}

.production__to-order-button {
  width: 192px;
}
