.production {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 6px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.production__container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 682px 368px;
    grid-template-rows: 172px 283px;
  }
}

.production__title {
  position: relative;

  margin: 0;
  padding-top: 21px;
  padding-bottom: 26px;
  padding-left: 91px;

  font-size: 17px;

  border: 1px solid $shadow;

  @media (min-width: $tablet-width) {
    font-size: 20px;

    padding-top: 41px;
    padding-bottom: 25px;
    padding-left: 107px;

    border-bottom: none;

    & br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/2;

    min-height: 172px;
    padding-top: 96px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 79px;

    & br {
      display: block;
    }
  }
}

.production__icon {
  position: absolute;
  top: 28px;
  left: 33px;

  fill: $mint;

  @media (min-width: $tablet-width) {
    top: 34px;
    left: 41px;
  }

  @media (min-width: $desktop-width) {
    top: 41px;
    left: 78px;
  }
}

.production__video {
  position: relative;

  width: 260px;
  height: 150px;

  & picture {
    display: inline-flex;
  }

  @media (min-width: $tablet-width) {
    order: -1;
    width: 668px;
    height: 455px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 1/3;

    width: 682px;

    order: 0;
  }
}

.production__video-btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: auto;
  padding: 0;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover .production__video-icon,
  &:focus .production__video-icon {
    width: 121px;
    height: 92px;
  }

  &:active .production__video-icon {
    width: 81px;
    height: 62px;
    opacity: 0.3;
  }
}

.production__footer {
  margin-top: -7px;
  padding-top: 39px;
  padding-right: 31px;
  padding-bottom: 33px;
  padding-left: 34px;

  border: 1px solid $shadow;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 40px;
    padding-bottom: 46px;

    border-top: none;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/3;

    z-index: 1;

    padding-top: 172px;
    padding-right: 36px;
    padding-bottom: 0;
    padding-left: 79px;

    &:hover {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }
  }
}

.production__description {
  margin: 0;
  margin-bottom: 41px;

  font-size: 13px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 51px;
  }
}

.production__to-order-button {
  width: 192px;

  @media (min-width: $tablet-width) {
    width: 584px;
    margin-left: 2px;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
    margin-left: 1px;
  }
}
