.social__list {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 27px;
  list-style: none;
  box-shadow: 0 1px 0 0 $shadow-footer;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-left: 75px;
    box-shadow: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 13px;
  }
}

.social__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: inline-flex;

  &:hover .social__icon,
  &:focus .social__icon {
    fill: $dark-mint-special;
  }

  &:active .social__icon {
    opacity: 0.3;
  }
}
