*,
*::before,
*::after {
  box-sizing: border-box;   //  border-box model for all project
}

a:focus {                   // change outlines on box-shadow for all pages
  outline: none;
  //box-shadow: 0 0 0 2px #63d1bb;
}

.visually-hidden {      //  hide available
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
