//Colors
$black: #000000;
$black-special: #231f20;
$white: #ffffff;
$green: #149080;
$mint: #63d1bb;
$mint-special: #59d5bc;
$dark-mint: #56c3b2;
$dark-mint-special: #46c1ae;
$graphite: #444444;
$shadow: #ececec;
$shadow-footer: #e5e5e5;
$light-grey: #f1f1f1;
